{% extends 'base.html' %}
{% import 'macros.html' as macro %}

{% block content %}

<div class="row">
  <h3 class="text-center">Sources</h3>
  <div class="list-group-item">
    <a href="https://www.bbc.com/">BBC NEWS</a>
    <hr>
    <a href="https://www.aljazeera.com/">ALJAZEERA</a>
    <hr>
    <a href="https://www.citizen.org/news/">PUBLIC CITIZEN</a>
    <hr>
    <a href="https://www.france24.com/en/">FRANCE24</a>
  </div>
</div>
<ul>
  {{ macro.displaySourcesList(sources) }}
</ul>

{% endblock %}